
<h1>All Repos Created by You:</h1>

<ul>
    <% @created_repos.each do |repo| %>
        <%= render 'repo', repo: repo %>
    <% end %>
</ul>

<%= link_to 'New Repo', new_repo_path %>

<h2>Search All Global Repos:</h2>


<%= form_tag(repos_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Search") %>

<% end %>

<ul>
    <% @repos.each do |repo| %>
        <%= render 'repo', repo: repo %>
    <% end %>
</ul>




