
<h1>Welcome Home, <%= current_user.get_email_base %></h1>

<%= render 'partials/repo_search' %>

<h3><%= link_to 'New Repo', new_repo_path %></h3>

<h2>Public Repos Created by All Users:</h2>

<ul>
    <% Repo.all.each do |repo| %>
        <li><em>Creator: </em><%= User.find(repo.creator_id).email %></li>
        <%= render 'repos/repo', repo: repo %>
    <% end %>
</ul>


<h2>Public Repos Created by You:</h2>

<ul>
    <% @created_repos.each do |repo| %>
        <%= render 'repos/repo', repo: repo %>
        <li><%= link_to 'Destroy', repo, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
</ul>


<h2>Your Pushes:</h2>

<ul>
<% @created_pushes.each do |push| %>
    <li>
        <%= render 'pushes/push', push: push %>
    </li>
<% end %>
</ul>