<!DOCTYPE html>
<html>
  <head>
    <title>CodeKing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application'%>
  
  </head>
  <body>
      <div class="navigation">
        <a href="<%= root_url %>"/>Home</a>
      </div>

    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to 'Log Out', logout_path %>
    <% else %>
      <%= link_to 'Sign Up', signup_path %> or 
      <%= link_to 'Log In', login_path %>
    <% end %>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
