<h2>Search All Global Repos:</h2>
<%if @repos%>
    <%if @repos.count == 0%>
        <h2>No repos found.</h2>
    <%else %>
        <ul>
            <% @repos.each do |repo| %>
                <%= render 'repos/repo', repo: repo %>
                <li><%= link_to 'Destroy', repo, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <% end %>
        </ul>
    <%end%>
<%end%>

<%= form_tag(repos_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Search") %>

<% end %>
