
<%= render 'partials/errors', f: user %>

<%= form_with(model: user, local: true) do |form| %>

    <h3>User Account Information:</h3>

    <div class="field<%= ' field_with_errors' if user.errors[:email].any? %>">
    <p>
    <%= form.label :email %>
    </p>
    <p>
    <%= form.text_field :email %>
    </p>
    </div>


    <div class="field<%= ' field_with_errors' if user.errors[:password].any? %>">
    <p>
    <%= form.label :password %>
    </p>
    <p>
    <%= form.password_field :password %>
    </p>
    </div>


    <div class="field<%= ' field_with_errors' if user.errors[:password_confirmation].any? %>">
    <p>
    <%= form.label :password_confirmation %>
    </p>
    <p>
    <%= form.password_field :password_confirmation %>
    </p>
    </div>

    <%= form.submit %>
<% end %>
