
<%= render 'partials/errors', f: user %>

<%= form_with(model: user, local: true) do |form| %>

    <h3>User Account Information:</h3>

    <%= render 'partials/basic_field', form:form, base: @user, field: :email %>
    <%= render 'partials/basic_field', form:form, base: @user, field: :password, password: true %>
    <%= render 'partials/basic_field', form:form, base: @user, field: :password_confirmation, password: true  %>


    <%= form.submit %>
<% end %>
