<p>New User:</p>

<%= form_with(model: @user, local: true) do |form| %>

    <h3>User Account Information:</h3>

    <%= form.label :email %>
    <%= form.text_field :email %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>

    <%= form.submit %>
<% end %>


<%= link_to 'Back', users_path %>
