<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>


Name: <%= @user.name %><br>
Nausea: <%= @user.nausea %><br>
Happiness: <%= @user.happiness %><br>
Tickets: <%= @user.tickets %><br>
Height: <%= @user.height %> <br>
Mood: <%= @user.mood %><br>