
<%= render 'partials/errors', f: @push %>

<%= form_with(model: @push, local: true) do |f| %>

    <%= f.hidden_field :user_id, value: current_user.id %>


    <label>Repo</label>

    <p>
    <em>Repo Name: </em><%= Repo.find(params[:repo_id]).name %>
    </p>
      
    <%= f.hidden_field :repo_id, value: Repo.find(params[:repo_id]).id %>



    <%= render 'partials/basic_field', form:f, base: @push, field: :message %>
    <%= render 'partials/basic_field', form:f, base: @push, field: :content %>


    <p>
    <%= f.submit %>
    </p>
    
<% end %>