
<%= render 'partials/errors', f: @push %>

<%= form_with(model: @push, local: true) do |form| %>
    <label>Repo</label>

    <p>
    <em>Repo Name: </em><%= Repo.find(params[:repo_id]).name %>
    </p>
      
    <%= form.hidden_field :repo_id, value: Repo.find(params[:repo_id]).id %>


    <%= render 'partials/basic_field', form:form, base: @push, field: :message %>
    <%= render 'partials/basic_field', form:form, base: @push, field: :content %>
 

    <p>
    <%= form.submit %>
    </p>
    
<% end %>