
<%= render 'partials/errors', f: @push %>

<%= form_with(model: @push, local: true) do |f| %>
    <label>Repo</label>

    <p>
    <em>Repo Name: </em><%= Repo.find(params[:repo_id]).name %>
    </p>
      
    <%= f.hidden_field :repo_id, value: Repo.find(params[:repo_id]).id %>

    <p>
    <%= f.label :message %>
    </p>
    <p>
    <%= f.text_field :message %>
    </p>

    <p>
    <%= f.label :content %>
    </p>
    <p>
    <%= f.text_field :content %>
    </p>

    <p>
    <%= f.submit %>
    </p>
    
<% end %>